/*
COLOUR THEME

#96B3D9;
#D5E7F2;
#C9EBF2;
#0B2624;
#7EBFB3

*/

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(240, 236, 236);
}

body {
    display: grid;
    grid-template-columns: 400px auto;
    font-family: sans-serif;
}

.sidebar {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #0B2624;
    color: white;
}

.header {
    width: auto;
    padding: 20px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #9bc9c9;
    color: white;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.1));
}

.welcome-message {
    grid-column-start: 1;
}

.header-button {
    width: 90px;
    height: 40px;
    border-radius: 25px;
    font-weight: bold;
}

.bottom-nav {
    justify-self: end;
}

.nav-buttons button {
    border: none;
    margin: 10px;
}

.search-bar {
    display: flex;
}

button:hover {
    background-color: #d8e6e9;
    cursor: pointer;
}

.greendale-logo {
    width: 15%;
    filter: invert();
    transition: .5s ease;
}

.greendale-logo:hover {
    cursor: pointer;
    opacity: 80%;
}

.section-label {
    width: 100%;
    display: flex;
    align-items: center;
}

.section-label h1 {
    width: 80%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    gap: 50px;
}

.card {
    width: 300px;
    height: 250px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
}

.side-tab {
    background-color: #96B3D9;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-bottom: -50px;
}

.main-body {
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
}

.main-body-left {
    width: 80%;
}

input {
    border-radius: 20px;
    border: none;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    outline: none;
}

.welcome-message {
    font-size: 1.5rem;
    padding: 0;
    display: grid;
    grid-template-columns: 125px auto;
}

#welcome-back-message {
    font-size: 1rem;
}

#magnifying-glass {
    width: 20px;
    opacity: 25%;
    margin-right: 15px;
}

.profile-pic {
    align-self: center;
    padding-top: 30px;
}

.profile-pic img {
    width: 70px;
    margin: 15px;
    border-radius: 100px;
}

.profile-pic img:hover {
    transform: scale(1.04, 1.04);
    cursor: pointer;
    transition: .2s ease;
}

.notifications {
    display: flex;
    justify-content: end;
}

.notifications img {
    width: 8%;
    filter: invert();
    transition: 1s ease;
}

.notifications img:hover {
    cursor: pointer;
    filter: brightness(20%);
}

.card {
    display: grid;
    grid-template-columns: 10px auto;
    padding: 10px;
    transition: 0.2s ease;
    background-color: white;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2));
}

.card-text {
    height: 60%;
    overflow-y: hidden;
    font-size: 0.8rem;
}

.card:hover {
    transform: scale(1.02, 1.02);
    backface-visibility: hidden;
}

.card-content {
    background-color: white;
}

.top-nav {
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-right: -20px;
}

.sidebar-link {
    display: flex;
    transition: .2s ease;
}

.strip {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 5px;
    margin-right: 10px;
}

.sidebar-link:hover {
    padding-left: 3px;
    cursor: pointer;
}

.sidebar-link:hover .strip {
    background-color: #297975;
}

.bottom-nav {
    margin-top: 50px;
}

.bottom-nav p {
    font-size: 1rem;
}

.bottom-nav p:hover {
    cursor: pointer;
    color: rgb(236, 230, 230);
}

.card-and-announcements {
    display: flex;
}

.main-body-left {
    width: 80%;
}

.main-body-right {
    width: 20%;
}

.announcement-pane {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;
    border-radius: 15px;
    background-color: white;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2));
}

.announcement:not(:last-child) {
    border-bottom: 1px solid rgb(173, 173, 173);
}

.announcement p {
    font-size: .75rem;
}

.card-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.card-buttons img {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    transition: .75s ease;
}

.card-buttons img:hover {
    cursor: pointer;
    opacity: 80%;
}

.trending-pane {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 75%;
    background-color: white;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2));
}

.user-name {
    padding: 10px;
    line-height: 2rem;
    font-size: .75rem
}

.twitter-username:hover {
    cursor: pointer;
}

.user-name:not(:last-child) {
    border-bottom: 1px solid rgb(238, 233, 233);
}

.twitter-username {
    color: #0B2624;
}

h4 {
    margin-top: 40px;
}